__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesize
data/
data_cleaned/
models/
knowledge_base/
assets/
backend/
tests/
explorations.ipynb
presentation_theoretical.md
video_pitch_script.md
